version: "3.9"

services:
  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo

  backend:
    build: ./backend
    environment:
      MONGO_URL: mongodb://mongo:27017/tasksdb
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
